.wrapper {
    color: #228;
}

.navbar {
    background-color: orange;
    padding: 0.7rem 1rem;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0.9;
}

.content {
    position: relative;
    width: 45%;
    height: 50%;
    padding-top: 8%;
    margin: auto;
}

.piece {
    position:relative;
    width:20px; height:20px;
    border-radius: 20px;
    background-color: brown;
}

table.scoreboard {
    margin: auto;
	width: 200px; height: 100px;
    border-style: solid;
}

table.scoreboard caption {
    background-color: brown;
    color: yellow;
}

table.scoreboard tr {
    color: black;
    text-align: center;
}



