@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

html {
    margin: 0px;
    height: 100%;
    width: 100%;
}

body {
    margin: 0px;
    min-height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f5f2;
}

main {
    width: 100%;
    height: 100%;
    font-family: "Roboto", sans-serif;
    overflow: hidden;
    text-align: center;
}

main > header {
    background-color: #000b29;
    padding: 1em 1em;
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;
    text-align: left;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

main > header li {
    display: inline-block;
    padding-left: 3vw;
    padding-right: 3vw;
}

ul {
    list-style: none;
}

a,
a:visited,
a:hover,
a:link,
a:active {
    color: #edb83d;
    text-decoration: none;
}

header > h1 {
    color: #d70026;
}

.board {
    margin: 50px auto;
    display: flex;
    flex-flow: row;
    width: 50vw;
    height: 30vh;
    background: #a47449;
    border-radius: 20px;
}

/* Transition between players */
.board,
.board p {
    transform: rotate(0deg);
    transition: transform 3s ease 0s;
}
[data-player="two"] .board,
[data-player="two"] .board p {
    transform: rotate(180deg);
}

.rows {
    flex: 7;
    display: flex;
    flex-direction: column;
}
.store {
    border-radius: 40px;
}
.row,
.store {
    flex: 1;
}
.row {
    display: flex;
}
.row.player-two {
    flex-direction: row-reverse;
}
.pit,
.store {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
    cursor: default;
}
.pit p,
.store p {
    cursor: inherit;
}
.pit p::selection,
.store p::selection {
    background: transparent;
}
.pit {
    flex: 1;
    border-radius: 40%;
}
[data-player="one"] .row.player-one .pit,
[data-player="two"] .row.player-two .pit {
    cursor: pointer;
}
[data-player="two"] .status,
[data-player="one"] .status {
    color: #d70026;
}

.seed {
    background: radial-gradient(rgb(177, 109, 109), rgb(165, 42, 42, 1));
    height: 15%;
    width: 10%;
    border-radius: 50%;
}
